.classroom input.true {
    border-color: green;
}
.classroom input.false {
    border-color: red;
}
.classroom input.ng-dirty {}

.statistics .true {
	color: green;
}
.statistics .false {
	color: red;
}
