<form class="form-inline" ng-if="!finishMode">
    <div class="jumbotron">
        <h1 ng-bind="currentWord.translation"></h1>
        <p>
            <div class="form-group">
                <label class="sr-only" for="verb-infinitive">infinitive</label>
                <input type="text" ng-model="answer.infinitive" class="form-control" id="verb-infinitive" placeholder="infinitive">
                <div ng-if="showAnswerMode" ng-bind="currentWord.infinitive" class="alert alert-success"></div>
            </div>
            <div class="form-group">
                <label class="sr-only" for="verb-pastSimple">past simple</label>
                <input type="text" ng-model="answer.pastSimple" class="form-control" id="verb-pastSimple" placeholder="past simple">
                <div ng-if="showAnswerMode" ng-bind="currentWord.pastSimple" class="alert alert-success"></div>
            </div>
            <div class="form-group">
                <label class="sr-only" for="verb-pastParticiple">past participle</label>
                <input type="text" ng-model="answer.pastParticiple" class="form-control" id="verb-pastParticiple" placeholder="past participle">
                <div ng-if="showAnswerMode" ng-bind="currentWord.pastParticiple" class="alert alert-success"></div>
            </div>
        </p>
        <p ng-if="!showAnswerMode">
            <input type="button" ng-click="showAnswers()" value="Show answer" class="btn btn-info">
            <input type="submit" ng-click="check()" value="Check" class="btn btn-success">
            <span ng-if="lastCheckCorrect">Correct</span>
            <span ng-if="lastCheckIncorrect">Inorrect</span>
        </p>
        <p ng-if="showAnswerMode">
            <input type="button" ng-click="nextWord()" value="Next word" class="btn btn-info">
        </p>
    </div>
</form>

<div ng-if="finishMode">
    <div class="col-md-4">
        <div><b>Right answers:</b>&nbsp;{{ statisticSummary.rightPersent }}%</div>

        <hr>
        <button ng-click="start()" class="btn btn-success">Try again</button>
    </div>
    <div class="col-md-8">
        <table class="table">
        <thead>
            <tr>
                <th>Word</th>
                <th>Answer</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(word, status) in statistics">
                <td ng-bind="word"></td>
                <td ng-bind="status ? 'Yes' : 'No'"></td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
